<div class="card mobileCard zno center-align hide-on-large-only">
    <a class="card-content center-align modal-trigger" data-target="modal{{playerData.id}}">
        <div class="row center-align">
            <div class="center-align">
                <div class="playerNumberMobile center-align black-text">{{playerData.jerseyNumber}}</div>
            </div>
        </div>
        <div class="row black-text center-align">
            <div class="firstName">
                {{playerData.firstName}}
            </div>
            <div class=" black-text lastNname">
                {{playerData.lastName}}
            </div>
        </div>
    </a>
</div>