<div class="card hide-on-large-only">
    <div class="card-content">
        <div class="row">
            <div class="col">
                <div class="playerNumber">{{playerData.jerseyNumber}}</div>
            </div>
        </div>
        <div class="row">
            <div class="firstName">
                {{playerData.firstName}}
            </div>
            <div class="lastNname">
                {{playerData.lastName}}
            </div>
        </div>
    </div>
</div>