<div class="row shortCuts">
    <div class="col s12 shortCuts">
        <div class="center-align">
           <strong> Jump To:</strong> <span><a href="#aforwards">Forwards</a></span> | <span><a href="#adefense">Defense</a></span> |
            <span><a href="#agoalies">Goal</a></span>
        </div>
    </div>
</div>
{{!-- Forwards --}}
<div class="zno">
    <div id="aforwards">
        <h5>Forwards</h5>
        <div class="divider"></div>
    </div>
    <div class="col s12">
        <div class="row" id="fl1">
            <h6 class="center-align">1st Line</h6>
            <div class="row" id="fl1">
                <div class="col l4">
                    {{#each at.lines}}
                        {{#if positionData.isForward}}
                            {{#if positionData.isLine1}}
                                {{#if positionData.isLw}}
                                    {{> card/card-block}} {{> card/mobileCard-block}}
                                {{/if}}
                            {{/if}}
                        {{/if}}
                    {{/each}}
                </div>
                <div class="col l4">
                    {{#each at.lines}}
                        {{#if positionData.isForward}}
                            {{#if positionData.isLine1}}
                                {{#if positionData.isC}}
                                    {{> card/card-block}} {{> card/mobileCard-block}}
                                {{/if}}
                            {{/if}}
                        {{/if}}
                    {{/each}}
                </div>
                <div class="col l4">
                    {{#each at.lines}}
                        {{#if positionData.isForward}}
                            {{#if positionData.isLine1}}
                                {{#if positionData.isRw}}
                                    {{> card/card-block}} {{> card/mobileCard-block}}
                                {{/if}}
                            {{/if}}
                        {{/if}}
                    {{/each}}
                </div>
            </div>
        </div>
        {{!-- forward line 2 --}}
        <div class="row" id="fl2">
            <h6 class="center-align">2nd Line</h6>
            <div class="row" id="fl2">
                <div class="col l4">
                    {{#each at.lines}}
                        {{#if positionData.isForward}}
                            {{#if positionData.isLine2}}
                                {{#if positionData.isLw}}
                                    {{> card/card-block}} {{> card/mobileCard-block}}
                                {{/if}}
                            {{/if}}
                        {{/if}}
                    {{/each}}
                </div>
                <div class="col l4">
                    {{#each at.lines}}
                        {{#if positionData.isForward}}
                            {{#if positionData.isLine2}}
                                {{#if positionData.isC}}
                                    {{> card/card-block}} {{> card/mobileCard-block}}
                                {{/if}}
                            {{/if}}
                        {{/if}}
                    {{/each}}
                </div>
                <div class="col l4">
                    {{#each at.lines}}
                        {{#if positionData.isForward}}
                            {{#if positionData.isLine2}}
                                {{#if positionData.isRw}}
                                    {{> card/card-block}} {{> card/mobileCard-block}}
                                {{/if}}
                            {{/if}}
                        {{/if}}
                    {{/each}}
                </div>
            </div>
        </div>
        {{!-- forward line 3 --}}
        <div class="row" id="fl3">
            <h6 class="center-align">3rd Line</h6>
            <div class="row" id="fl1">
                <div class="col l4">
                    {{#each at.lines}}
                        {{#if positionData.isForward}}
                            {{#if positionData.isLine3}}
                                {{#if positionData.isLw}}
                                    {{> card/card-block}} {{> card/mobileCard-block}}
                                {{/if}}
                            {{/if}}
                        {{/if}}
                    {{/each}}
                </div>
                <div class="col l4">
                    {{#each at.lines}}
                        {{#if positionData.isForward}}
                            {{#if positionData.isLine3}}
                                {{#if positionData.isC}}
                                    {{> card/card-block}} {{> card/mobileCard-block}}
                                {{/if}}
                            {{/if}}
                        {{/if}}
                    {{/each}}
                </div>
                <div class="col l4">
                    {{#each at.lines}}
                        {{#if positionData.isForward}}
                            {{#if positionData.isLine3}}
                                {{#if positionData.isRw}}
                                    {{> card/card-block}} {{> card/mobileCard-block}}
                                {{/if}}
                            {{/if}}
                        {{/if}}
                    {{/each}}
                </div>
            </div>
        </div>
        <div class="row" id="fl4">
            <h6 class="center-align">4th Line</h6>
            <div class="row" id="fl1">
                <div class="col l4">
                    {{#each at.lines}}
                        {{#if positionData.isForward}}
                            {{#if positionData.isLine4}}
                                {{#if positionData.isLw}}
                                    {{> card/card-block}} {{> card/mobileCard-block}}
                                {{/if}}
                            {{/if}}
                        {{/if}}
                    {{/each}}
                </div>
                <div class="col l4">
                    {{#each at.lines}}
                        {{#if positionData.isForward}}
                            {{#if positionData.isLine4}}
                                {{#if positionData.isC}}
                                    {{> card/card-block}} {{> card/mobileCard-block}}
                                {{/if}}
                            {{/if}}
                        {{/if}}
                    {{/each}}
                </div>
                <div class="col l4">
                    {{#each at.lines}}
                        {{#if positionData.isForward}}
                            {{#if positionData.isLine4}}
                                {{#if positionData.isRw}}
                                    {{> card/card-block}} {{> card/mobileCard-block}}
                                {{/if}}
                            {{/if}}
                        {{/if}}
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
    {{!-- Grocery Stick --}}
    {{!-- Defense --}}
    <div>
        <h5>Defense</h5>
        <div class="divider"></div>
    </div>
    <div id="adefense" class="row center-align section scrollspy">
        <div class="s12 col">
            <h6 class="center-align">1st Pairing</h6>
            <div class="row" id="dp1">
                <div class="col offset-l2 offset-s2 l4">
                    {{#each at.lines}}
                        {{#if positionData.isDefense}}
                            {{#if positionData.isLine1}}
                                {{#if positionData.isLd}}
                                    {{> card/card-block}} {{> card/mobileCard-block}}
                                {{/if}}
                            {{/if}}
                        {{/if}}
                    {{/each}}
                </div>
                <div class="col l4">
                    {{#each at.lines}}
                        {{#if positionData.isDefense}}
                            {{#if positionData.isLine1}}
                                {{#if positionData.isRd}}
                                    {{> card/card-block}} {{> card/mobileCard-block}}
                                {{/if}}
                            {{/if}}
                        {{/if}}
                    {{/each}}
                </div>
            </div>
            <h6 class="center-align">2nd Pairing</h6>
            {{!-- D line 2 --}}
            <div class="row" id="dp2">
                <div class="col offset-l2 offset-s2 l4">
                    {{#each at.lines}}
                        {{#if positionData.isDefense}}
                            {{#if positionData.isLine2}}
                                {{#if positionData.isLd}}
                                    {{> card/card-block}} {{> card/mobileCard-block}}
                                {{/if}}
                            {{/if}}
                        {{/if}}
                    {{/each}}
                </div>
                <div class="col l4">
                    {{#each at.lines}}
                        {{#if positionData.isDefense}}
                            {{#if positionData.isLine2}}
                                {{#if positionData.isRd}}
                                    {{> card/card-block}} {{> card/mobileCard-block}}
                                {{/if}}
                            {{/if}}
                        {{/if}}
                    {{/each}}
                </div>
            </div>
            {{!-- dline3 --}}
            <h6 class="center-align">3rd Pairing</h6>
            <div class="row" id="dp3">
                <div class="col offset-l2 offset-s2 l4">
                    {{#each at.lines}}
                        {{#if positionData.isDefense}}
                            {{#if positionData.isLine3}}
                                {{#if positionData.isLd}}
                                    {{> card/card-block}} {{> card/mobileCard-block}}
                                {{/if}}
                            {{/if}}
                        {{/if}}
                    {{/each}}
                </div>
                <div class="col l4">
                    {{#each at.lines}}
                        {{#if positionData.isDefense}}
                            {{#if positionData.isLine3}}
                                {{#if positionData.isRd}}
                                    {{> card/card-block}} {{> card/mobileCard-block}}
                                {{/if}}
                            {{/if}}
                        {{/if}}
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
    {{!-- Goalies --}}
    <div>
        <h5>Goal</h5>
        <div class="divider"></div>
    </div>
    <div class="row section scrollspy" id="agoalies">
        <div class="col offset-l2 offset-s2 l4">
            {{#each at.lines}}
                {{#if positionData.isSg}}
                    {{> card/card-block}} {{> card/mobileCard-block}}
                {{/if}}
            {{/each}}
        </div>
        <div class="row">
            <div class="col l4">
                {{#each at.lines}}
                    {{#if positionData.isBg}}
                        {{> card/card-block}} {{> card/mobileCard-block}}
                    {{/if}}
                {{/each}}
            </div>
        </div>
    </div>
</div>