<div class="row">
    <div class="col s12">
        <ul class="tabs">
            <li class="tab col s6"><a href="#test1">Home Team </a></li>
            <li class="tab col s6"><a href="#test2">Away Team</a></li>
        </ul>
    </div>
    <div id="test1" class="col s12">
        <div class="row">
            <div class="col s12">
                Team Facts
            </div>
        </div>
        <div>
            <h2>Forwards</h2>
        </div>
        <div id="forwards" class="row">
            <div class="col l12">
                <div class="row" id="fl1">
                    <div class="col l4">
                        {{#each ht.lines}}
                            {{#if positionData.isForward}}
                                {{#if positionData.isLine1}}
                                    {{#if positionData.isLw}}
                                        {{> card/card-block}}
                                    {{/if}}
                                {{/if}}
                            {{/if}}
                        {{/each}}
                    </div>
                    <div class="col l4">
                        {{#each ht.lines}}
                            {{#if positionData.isForward}}
                                {{#if positionData.isLine1}}
                                    {{#if positionData.isC}}
                                        {{> card/card-block}}
                                    {{/if}}
                                {{/if}}
                            {{/if}}
                        {{/each}}
                    </div>
                    <div class="col l4">
                        {{#each ht.lines}}
                            {{#if positionData.isForward}}
                                {{#if positionData.isLine1}}
                                    {{#if positionData.isRw}}
                                        {{> card/card-block}}
                                    {{/if}}
                                {{/if}}
                            {{/if}}
                        {{/each}}
                    </div>
                </div>
                {{!-- forward line 2 --}}
                <div class="row" id="fl2">
                    <div class="row" id="fl1">
                        <div class="col l4">
                            {{#each ht.lines}}
                                {{#if positionData.isForward}}
                                    {{#if positionData.isLine2}}
                                        {{#if positionData.isLw}}
                                            {{> card/card-block}}
                                        {{/if}}
                                    {{/if}}
                                {{/if}}
                            {{/each}}
                        </div>
                        <div class="col l4">
                            {{#each ht.lines}}
                                {{#if positionData.isForward}}
                                    {{#if positionData.isLine2}}
                                        {{#if positionData.isC}}
                                            {{> card/card-block}}
                                        {{/if}}
                                    {{/if}}
                                {{/if}}
                            {{/each}}
                        </div>
                        <div class="col l4">
                            {{#each ht.lines}}
                                {{#if positionData.isForward}}
                                    {{#if positionData.isLine2}}
                                        {{#if positionData.isRw}}
                                            {{> card/card-block}}
                                        {{/if}}
                                    {{/if}}
                                {{/if}}
                            {{/each}}
                        </div>
                    </div>
                    <div class="row" id="fl3">
                        <div class="row" id="fl1">
                            <div class="col l4">
                                {{#each ht.lines}}
                                    {{#if positionData.isForward}}
                                        {{#if positionData.isLine3}}
                                            {{#if positionData.isLw}}
                                                {{> card/card-block}}
                                            {{/if}}
                                        {{/if}}
                                    {{/if}}
                                {{/each}}
                            </div>
                            <div class="col l4">
                                {{#each ht.lines}}
                                    {{#if positionData.isForward}}
                                        {{#if positionData.isLine3}}
                                            {{#if positionData.isC}}
                                                {{> card/card-block}}
                                            {{/if}}
                                        {{/if}}
                                    {{/if}}
                                {{/each}}
                            </div>
                            <div class="col l4">
                                {{#each ht.lines}}
                                    {{#if positionData.isForward}}
                                        {{#if positionData.isLine3}}
                                            {{#if positionData.isRw}}
                                                {{> card/card-block}}
                                            {{/if}}
                                        {{/if}}
                                    {{/if}}
                                {{/each}}
                            </div>
                        </div>
                        {{!-- forward line 4 --}}
                        <div class="row" id="fl4">
                            <div class="row" id="fl1">
                                <div class="col l4">
                                    {{#each ht.lines}}
                                        {{#if positionData.isForward}}
                                            {{#if positionData.isLine4}}
                                                {{#if positionData.isLw}}
                                                    {{> card/card-block}}
                                                {{/if}}
                                            {{/if}}
                                        {{/if}}
                                    {{/each}}
                                </div>
                                <div class="col l4">
                                    {{#each ht.lines}}
                                        {{#if positionData.isForward}}
                                            {{#if positionData.isLine4}}
                                                {{#if positionData.isC}}
                                                    {{> card/card-block}}
                                                {{/if}}
                                            {{/if}}
                                        {{/if}}
                                    {{/each}}
                                </div>
                                <div class="col l4">
                                    {{#each ht.lines}}
                                        {{#if positionData.isForward}}
                                            {{#if positionData.isLine4}}
                                                {{#if positionData.isRw}}
                                                    {{> card/card-block}}
                                                {{/if}}
                                            {{/if}}
                                        {{/if}}
                                    {{/each}}
                                </div>
                            </div>
                        </div>
                    </div>
                    {{!-- Grocery Stick --}}
                    <div>
                        <h2>Defense</h2>
                    </div>
                    <div id="defense" class="row">
                        <div class="col l12">
                            <div class="row" id="dp1">
                                <div class="col l4">
                                    {{#each ht.lines}}
                                        {{#if positionData.isDefense}}
                                            {{#if positionData.isLine1}}
                                                {{#if positionData.isLd}}
                                                    {{> card/card-block}}
                                                {{/if}}
                                            {{/if}}
                                        {{/if}}
                                    {{/each}}
                                </div>
                                <div class="col l4">
                                    {{#each ht.lines}}
                                        {{#if positionData.isDefense}}
                                            {{#if positionData.isLine1}}
                                                {{#if positionData.isRd}}
                                                    {{> card/card-block}}
                                                {{/if}}
                                            {{/if}}
                                        {{/if}}
                                    {{/each}}
                                </div>
                            </div>
                            {{!-- D line 2 --}}
                            <div class="row" id="dp2">
                                <div class="col l4">
                                    {{#each ht.lines}}
                                        {{#if positionData.isDefense}}
                                            {{#if positionData.isLine2}}
                                                {{#if positionData.isLd}}
                                                    {{> card/card-block}}
                                                {{/if}}
                                            {{/if}}
                                        {{/if}}
                                    {{/each}}
                                </div>
                                <div class="col l4">
                                    {{#each ht.lines}}
                                        {{#if positionData.isDefense}}
                                            {{#if positionData.isLine2}}
                                                {{#if positionData.isRd}}
                                                    {{> card/card-block}}
                                                {{/if}}
                                            {{/if}}
                                        {{/if}}
                                    {{/each}}
                                </div>
                            </div>
                            {{!-- dline3 --}}
                            <div class="row" id="dp3">
                                <div class="col l4">
                                    {{#each ht.lines}}
                                        {{#if positionData.isDefense}}
                                            {{#if positionData.isLine3}}
                                                {{#if positionData.isLd}}
                                                    {{> card/card-block}}
                                                {{/if}}
                                            {{/if}}
                                        {{/if}}
                                    {{/each}}
                                </div>
                                <div class="col l4">
                                    {{#each ht.lines}}
                                        {{#if positionData.isDefense}}
                                            {{#if positionData.isLine3}}
                                                {{#if positionData.isRd}}
                                                    {{> card/card-block}}
                                                {{/if}}
                                            {{/if}}
                                        {{/if}}
                                    {{/each}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <h2>Goal</h2>
                    </div>
                    <div class="row" id="Goalies">
                        <div class="col l4">
                            {{#each ht.lines}}
                                {{#if positionData.isSg}}
                                    {{> card/card-block}}
                                {{/if}}
                            {{/each}}
                        </div>
                        <div class="row">
                            <div class="col l4">
                                {{#each ht.lines}}
                                    {{#if positionData.isBg}}
                                        {{> card/card-block}}
                                    {{/if}}
                                {{/each}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{!-- Away Team Tab --}}
    <div id="test2" class="col s12">Test 2
        <div id="test1" class="col s12">
            <div class="row">
                <div class="col s12">
                    Team Facts
                </div>
            </div>
            <div>
                <h2>Forwards</h2>
            </div>
            <div id="forwards" class="row">
                <div class="col l12">
                    <div class="row" id="fl1">
                        <div class="col l4">
                            {{#each at.lines}}
                                {{#if positionData.isForward}}
                                    {{#if positionData.isLine1}}
                                        {{#if positionData.isLw}}
                                            {{> card/card-block}}
                                        {{/if}}
                                    {{/if}}
                                {{/if}}
                            {{/each}}
                        </div>
                        <div class="col l4">
                            {{#each at.lines}}
                                {{#if positionData.isForward}}
                                    {{#if positionData.isLine1}}
                                        {{#if positionData.isC}}
                                            {{> card/card-block}}
                                        {{/if}}
                                    {{/if}}
                                {{/if}}
                            {{/each}}
                        </div>
                        <div class="col l4">
                            {{#each at.lines}}
                                {{#if positionData.isForward}}
                                    {{#if positionData.isLine1}}
                                        {{#if positionData.isRw}}
                                            {{> card/card-block}}
                                        {{/if}}
                                    {{/if}}
                                {{/if}}
                            {{/each}}
                        </div>
                    </div>
                    {{!-- forward line 2 --}}
                    <div class="row" id="fl2">
                        <div class="row" id="fl1">
                            <div class="col l4">
                                {{#each at.lines}}
                                    {{#if positionData.isForward}}
                                        {{#if positionData.isLine2}}
                                            {{#if positionData.isLw}}
                                                {{> card/card-block}}
                                            {{/if}}
                                        {{/if}}
                                    {{/if}}
                                {{/each}}
                            </div>
                            <div class="col l4">
                                {{#each at.lines}}
                                    {{#if positionData.isForward}}
                                        {{#if positionData.isLine2}}
                                            {{#if positionData.isC}}
                                                {{> card/card-block}}
                                            {{/if}}
                                        {{/if}}
                                    {{/if}}
                                {{/each}}
                            </div>
                            <div class="col l4">
                                {{#each at.lines}}
                                    {{#if positionData.isForward}}
                                        {{#if positionData.isLine2}}
                                            {{#if positionData.isRw}}
                                                {{> card/card-block}}
                                            {{/if}}
                                        {{/if}}
                                    {{/if}}
                                {{/each}}
                            </div>
                        </div>
                        <div class="row" id="fl3">
                            <div class="row" id="fl1">
                                <div class="col l4">
                                    {{#each at.lines}}
                                        {{#if positionData.isForward}}
                                            {{#if positionData.isLine3}}
                                                {{#if positionData.isLw}}
                                                    {{> card/card-block}}
                                                {{/if}}
                                            {{/if}}
                                        {{/if}}
                                    {{/each}}
                                </div>
                                <div class="col l4">
                                    {{#each at.lines}}
                                        {{#if positionData.isForward}}
                                            {{#if positionData.isLine3}}
                                                {{#if positionData.isC}}
                                                    {{> card/card-block}}
                                                {{/if}}
                                            {{/if}}
                                        {{/if}}
                                    {{/each}}
                                </div>
                                <div class="col l4">
                                    {{#each at.lines}}
                                        {{#if positionData.isForward}}
                                            {{#if positionData.isLine3}}
                                                {{#if positionData.isRw}}
                                                    {{> card/card-block}}
                                                {{/if}}
                                            {{/if}}
                                        {{/if}}
                                    {{/each}}
                                </div>
                            </div>
                            {{!-- forward line 4 --}}
                            <div class="row" id="fl4">
                                <div class="row" id="fl1">
                                    <div class="col l4">
                                        {{#each at.lines}}
                                            {{#if positionData.isForward}}
                                                {{#if positionData.isLine4}}
                                                    {{#if positionData.isLw}}
                                                        {{> card/card-block}}
                                                    {{/if}}
                                                {{/if}}
                                            {{/if}}
                                        {{/each}}
                                    </div>
                                    <div class="col l4">
                                        {{#each at.lines}}
                                            {{#if positionData.isForward}}
                                                {{#if positionData.isLine4}}
                                                    {{#if positionData.isC}}
                                                        {{> card/card-block}}
                                                    {{/if}}
                                                {{/if}}
                                            {{/if}}
                                        {{/each}}
                                    </div>
                                    <div class="col l4">
                                        {{#each at.lines}}
                                            {{#if positionData.isForward}}
                                                {{#if positionData.isLine4}}
                                                    {{#if positionData.isRw}}
                                                        {{> card/card-block}}
                                                    {{/if}}
                                                {{/if}}
                                            {{/if}}
                                        {{/each}}
                                    </div>
                                </div>
                            </div>
                        </div>
                        {{!-- Grocery Stick --}}
                        <div>
                            <h2>Defense</h2>
                        </div>
                        <div id="defense" class="row">
                            <div class="col l12">
                                <div class="row" id="dp1">
                                    <div class="col l4">
                                        {{#each at.lines}}
                                            {{#if positionData.isDefense}}
                                                {{#if positionData.isLine1}}
                                                    {{#if positionData.isLd}}
                                                        {{> card/card-block}}
                                                    {{/if}}
                                                {{/if}}
                                            {{/if}}
                                        {{/each}}
                                    </div>
                                    <div class="col l4">
                                        {{#each at.lines}}
                                            {{#if positionData.isDefense}}
                                                {{#if positionData.isLine1}}
                                                    {{#if positionData.isRd}}
                                                        {{> card/card-block}}
                                                    {{/if}}
                                                {{/if}}
                                            {{/if}}
                                        {{/each}}
                                    </div>
                                </div>
                                {{!-- D line 2 --}}
                                <div class="row" id="dp2">
                                    <div class="col l4">
                                        {{#each at.lines}}
                                            {{#if positionData.isDefense}}
                                                {{#if positionData.isLine2}}
                                                    {{#if positionData.isLd}}
                                                        {{> card/card-block}}
                                                    {{/if}}
                                                {{/if}}
                                            {{/if}}
                                        {{/each}}
                                    </div>
                                    <div class="col l4">
                                        {{#each at.lines}}
                                            {{#if positionData.isDefense}}
                                                {{#if positionData.isLine2}}
                                                    {{#if positionData.isRd}}
                                                        {{> card/card-block}}
                                                    {{/if}}
                                                {{/if}}
                                            {{/if}}
                                        {{/each}}
                                    </div>
                                </div>
                                {{!-- dline3 --}}
                                <div class="row" id="dp3">
                                    <div class="col l4">
                                        {{#each at.lines}}
                                            {{#if positionData.isDefense}}
                                                {{#if positionData.isLine3}}
                                                    {{#if positionData.isLd}}
                                                        {{> card/card-block}}
                                                    {{/if}}
                                                {{/if}}
                                            {{/if}}
                                        {{/each}}
                                    </div>
                                    <div class="col l4">
                                        {{#each at.lines}}
                                            {{#if positionData.isDefense}}
                                                {{#if positionData.isLine3}}
                                                    {{#if positionData.isRd}}
                                                        {{> card/card-block}}
                                                    {{/if}}
                                                {{/if}}
                                            {{/if}}
                                        {{/each}}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div>
                            <h2>Goal</h2>
                        </div>
                        <div class="row" id="Goalies">
                            <div class="col l4">
                                {{#each at.lines}}
                                    {{#if positionData.isSg}}
                                        {{> card/card-block}}
                                    {{/if}}
                                {{/each}}
                            </div>
                            <div class="row">
                                <div class="col l4">
                                    {{#each at.lines}}
                                        {{#if positionData.isBg}}
                                            {{> card/card-block}}
                                        {{/if}}
                                    {{/each}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery.js"></script>